@import '../../styles/base/variables.scss';
@import '../../styles/mixins/media-screen.scss';

.projects__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-small-desktop-only {
    flex-direction: column;
  }
}
