@import '../../styles/base/variables.scss';
@import '../../styles/mixins/media-screen.scss';
@import '../../styles/mixins/linear-gradient.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  background: $darkBackground;
  @include gradient(to bottom left, $backgroundConfig);
  padding: 0;
  margin: 0;
  font-family: $font;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 90%;
}
