@import '../../styles/base/variables.scss';
@import '../../styles/mixins/media-screen.scss';

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  @include for-large-tablet-only {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    .presentation {
      margin-bottom: 2rem;
      padding: 0;
      text-align: center;
    }
  }
}
.presentation {
  flex: 1;
  color: $white;
  padding-right: 2rem;
  h1 {
    margin: 0;
    font-size: 3.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.presentation__image {
  flex: 1;

  img {
    width: 100%;
    height: auto;
  }
}
