@import '../../styles/base/variables.scss';
@import '../../styles/mixins/media-screen.scss';

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.contact__form {
  flex: 1 1 0%;
  padding-right: 2rem;
  input,
  textarea {
    width: 100%;
    border-radius: 6px;
    border: 3px solid $primaryColor;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
  }
  button {
    background-color: $primaryColor;
    color: $white;
    border: none;
    outline: none;
    transition: filter 0.3 ease-out;
    border-radius: 6px;
    padding: 0.7rem 1.4rem;
    font-size: 1.2rem;
    text-align: center;

    &:hover,
    &:focus {
      filter: saturate(1.8);
    }
  }
}
.contact__image {
  width: 40rem;
  img {
    width: 100%;
    height: 100%;
  }
}
