@import '../../styles/base/variables.scss';
@import '../../styles/mixins/media-screen.scss';

.navbar {
  a {
    font-size: 1.6rem;
    font-family: $font;
    color: $white;
    text-decoration: none;
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
