@mixin gradient($direction, $colorsConfig) {
  background: -webkit-linear-gradient($direction, $colorsConfig);
  background: -moz-linear-gradient($direction, $colorsConfig);
  background: linear-gradient($direction, $colorsConfig);
}
