$primaryColor: #5fb49c;
$black: #000000;
$white: #ffffff;
$darkBackground: #212529;
$font: 'Roboto', sans-serif;

$mobileWidth: 576px;
$smallTabletWidth: 768px;
$largeTabletWidth: 992px;
$smallDesktopWidth: 1200px;
$mediumDesktopWidth: 1440px;
$largeDesktopWidth: 1920px;
